name: Build

on:
  push:
    branches: [ main ]
    paths:
      - '**.rs'
      - 'Cargo.toml'
  pull_request:
    branches: [ main ]
    paths:
      - '**.rs'
      - 'Cargo.toml'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build lib
    strategy:
      matrix:
        rust: [
          1.56.1,
          stable
        ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Rust ${{ matrix.rust }}
      uses: actions-rs/toolchain@v1.0.7
      with:
        toolchain: ${{ matrix.rust }}
        override: true
        profile: minimal

    - uses: Swatinem/rust-cache@v2.2.1

    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build

  doc:
    name: Build doc
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Rust Nightly
      uses: actions-rs/toolchain@v1.0.7
      with:
        toolchain: nightly
        override: true
        profile: minimal

    - uses: Swatinem/rust-cache@v2.2.1

    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: doc
        args: --all-features --no-deps
